#cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;    
}

.card-body {
    margin: 40px;
    background: #001242;
    width: 20%;
    flex: 0 1 auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.card-header {
    margin-top: 10px;
}

// STAFF CARDS

.staff-card-body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.staff-cards {
    background-color: #000022;
    -webkit-box-shadow: 0px 0px 10px 0px #000022;
    box-shadow: 0px 0px 10px 0px #000022;
    -moz-box-shadow: 0px 0px 10px 0px #000022;
    width: 20rem;

}

.staff-img-container {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
}

.staff-img {
    height: 100%;
    object-fit: cover;
}

.staff-name {
    display: block;
    padding: 0;
}

.card-btns {
    height: 1.5rem;
    width: 1.5rem;
    font-size: .75rem;
    text-align: center;
    padding: 0;
    margin-left: 3%;
    margin-top: 4%;
    color: #c6d4ff;
    border-color: #7a82ab;
}

.staff-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
